@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-bottom: 50px;
}


/* header */

.header-bg{
    background: #264653;
}
.nav-item{
    padding-right: 30px;
}
.header-details{
    padding: 50px 30px;
}
.honda-cbr-btn{
    background-image: linear-gradient(to bottom, #EC613F 0%, #E76F51 100%);
    color: white;
    border-radius: 5px;
    padding: 9px 25px;
    border: none;
}

/* featured */
.gray-img{
    filter: grayscale(100%);
}
/* card */
.card-img{
    width: 210px;
    clip-path: circle();
}
.text-orange{
    color: #E76F51;
}
.colored-star{
    color: orange;
}